* {
  font-size: 24px;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #DCEEF3;
}

.pagewrapper {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  height: 2em;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2em;
}

.listContainer,
.view {
  margin: 1em auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 600px;
}

.clickable {
  width: 90%;
  color: white;
}

/* .todoList {
  position: relative;
} */

/* .listContainer .add { */
/* width: 350px;
  height: 300px;
  border: 0.6px solid lightgray;
  border-radius: 0.7em;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: whitesmoke; */
/* } */

/* .listContainer .todoList {
  width: 350px;
  height: 300px;
  border: 0.6px solid lightgray;
  border-radius: 0.7em;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: whitesmoke;
} */

/* .todoList>.title {
  font-size: 1.6em;
} */

.newTODO #save {
  border-radius: 0.5em;
  padding: 0.3em;
}

.deleteList {
  border: 0.3px solid grey;
  float: right;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #beaeae;
  position: relative;
  top: -1em;
  right: -1em;
}

.listContainer>.item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid lightgray;
  width: 100%;
  padding: 1em;
  background-color: #72BBCE;
  color: #F1FAEE;
  border-radius: 0.6em;
}

.listContainer>.newTODO {
  display: flex;
  padding: 0.5em 1em;
}

.listContainer>.newItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.item .status {
  border: 0.3px solid grey;
}

.addNewItem {
  visibility: hidden;
}

.deleteItem {
  cursor: pointer;
}

header>.sidebar {
  display: flex;
  gap: 1em;
}

#title::placeholder {
  color: #f5f5f596;
}

.newTODO>#title,
#edit {
  width: 70%;
  border: none;
  border-bottom: 1px solid #f5f5f596;
  color: white;
  background-color: inherit;
}

.delete,
.edit {
  cursor: pointer;
  color: #003566;
}

.view>.title,
.item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid lightgray;
  width: 100%;
  padding: 1em;
  background-color: #72BBCE;
  color: #F1FAEE;
  border-radius: 0.3em;
}

.view>.title {
  display: block;
  text-align: center;
  font-size: 1.2em;
}

.items>.item {
  display: flex;
  justify-content: space-between;
}

.items {
  display: contents;
}

.addItem {
  display: contents;
  width: 100%;
}

#newItem {
  width: 108%;
  border: none;
  padding: 0.5em;
  border-radius: 0.3em
}

.itemStatus {
  width: 2em;
}

input {
  outline: none;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}