* {
  font-size: 24px;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #DCEEF3;
}

.pagewrapper {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  height: 2em;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  border-bottom: 1px solid #243b4a;
  position: sticky;
  top: 0;
  background-color: #DCEEF3;
}

header h1 {
  font-size: 1.5em;
  color: #5585a3;
}

.listContainer {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 81%;
  overflow: auto;
}

.clickable {
  width: 90%;
  color: white;
}

/* .todoList {
  position: relative;
} */

/* .listContainer .add { */
/* width: 350px;
  height: 300px;
  border: 0.6px solid lightgray;
  border-radius: 0.7em;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: whitesmoke; */
/* } */

/* .listContainer .todoList {
  width: 350px;
  height: 300px;
  border: 0.6px solid lightgray;
  border-radius: 0.7em;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: whitesmoke;
} */

/* .todoList>.title {
  font-size: 1.6em;
} */

.newTODO #save {
  border-radius: 0.5em;
  padding: 0.3em;
  border: none;
  cursor: pointer;
  background-color: #457B9D;
  color: white;
  text-align: center;
}

.deleteList {
  border: 0.3px solid grey;
  float: right;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #beaeae;
  position: relative;
  top: -1em;
  right: -1em;
}

.listContainer>.item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid lightgray;
  width: 50%;
  padding: 1em;
  background-color: #5685a3;
  color: #F1FAEE;
  border-radius: 0.6em;
}

.listContainer>.newTODO {
  display: flex;
  padding: 0.5em 1em;
  background-color: white;
}

.listContainer>.newItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.item .status {
  border: 0.3px solid grey;
}

.addNewItem {
  visibility: hidden;
}

.deleteItem {
  cursor: pointer;
}

header>.sidebar {
  display: flex;
  gap: 1em;
  align-items: center;
}

.sidebar form {
  display: flex;
  gap: 1em;
}

.sidebar select {
  border-radius: 0.3em;
}

.sidebar input {
  border-radius: 0.6em;
  border: 1px solid #6bd5f3;
  padding: 0.2em 1em
}

/* #title::placeholder {
  color: #f5f5f596;
} */

.newTODO>#title,
#edit {
  width: 70%;
  border: none;
  border-bottom: 1px solid #f5f5f596;
  background-color: inherit;
  color: white;
}

.newTODO>#title {
  color: black;
}

.delete,
.edit {
  cursor: pointer;
  color: white;
}

.view>.title,
.item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid lightgray;
  width: 100%;
  padding: 1em;
  background-color: #5685a3;
  color: #F1FAEE;
  border-radius: 0.3em;
}

.view>.title {
  display: block;
  text-align: center;
  font-size: 1.5em;
  background-color: #dceef3;
  color: #5685a3;
  border: none;
}

.items>.item {
  display: flex;
  justify-content: space-between;
}

.items {
  display: contents;
}

.addItem {
  display: contents;
  width: 100%;
}

#newItem {
  width: 105%;
  border: none;
  padding: 0.5em;
  border-radius: 0.3em
}

.itemStatus {
  width: 1.2em;
  aspect-ratio: 1;
}

input {
  outline: none;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.view {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1em;
  height: 81%;
}

.item>div {
  display: flex;
  gap: 1em;
}

.searchMsg {
  width: 50%;
}